* {
  letter-spacing: 1px; 
}

body {
  background-color: #9DC8C8;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center; /* 水平置中 左右移動*/
  align-items: center;     /* 垂直置中 上下移動*/
  padding: 30px;
  background-color: #519D9E;
  margin: 0;
}

.title {
  max-width: 60%; 
  margin: 0 auto;   
  text-align: center; 
  padding: 20px;    
}

.image_frame {
  display: inline-block; 
  padding: 10px; 
  margin-bottom: 20px;
  background-color: slategray;
  border: 4px solid #548687; 
  margin-top: 0;
  margin-right: 30px;
}

.float_right {
  float: right;
}

.content {
  max-width: 60%; 
  margin: 0 auto;   
  text-align: left; 
  color: black;     
  padding: 20px;
}

.content h3 {
  color: darkgreen; 
}

hr {
  border: 1px solid #548687;
  margin: 20px 0;
}

.image-links {
  display: flex; 
  justify-content: center; 
  gap: 20px; 
  margin-top: 20px;
}